#mainPage {
    h1 {
        text-align: center;
    }
}

#LoginModal {
    .modal-content {
        top: 250px;
    }
    .fade {
        background-color: rgba(0,0,0,0.6);
    }
}

#SignUpModal {
    .modal-content {
        top: 250px;
    }
    .fade {
        background-color: rgba(0,0,0,0.6);
    }
}

