#ChatPage {

  @media screen and (min-width: 992px) {
		margin-left: 80px;
	}

	h1 {
		text-align: center;
	}

    .innerChat {
        margin: 40px 15px;
        height: 45vw;
        width: 97.5%;
        overflow: scroll;
    }
}