#mainPage h1 {
  text-align: center; }

#SideMenuComponent #sideMenu:hover {
  transform: translate(210px, 0px); }

#TestimonialPage h1 {
  text-align: center; }

#AboutUsPage h1 {
  text-align: center; }

@media screen and (min-width: 992px) {
  #ProfilePage {
    margin-left: 80px; } }

#ProfilePage h1 {
  text-align: center; }

#ProfilePage #profileImage {
  transform: scale(10); }
  @media screen and (min-width: 992px) {
    #ProfilePage #profileImage {
      margin-left: 200px;
      margin-top: 150px; } }
