#HeaderComponent {

    .rightSpacing {
        width: 130px;
    }

    .chatLink {
        float: right;
        transform: scale(1.1);
        margin-top: -30px;
    }

    .drops {
        margin-right: 60px;
    }

    .notify {
        margin-top: 10px;
        float: left;
        padding: 0 15px;
    }
}