#HeaderComponent {

    .rightSpacing {
        width: 85px;
    }

    .chatLink {
        float: right;
        margin-top: 12px;
        transform: scale(1.1);
    }

    .drops {
        margin-right: 60px;
    }
}