.space-25{
	margin-bottom:25px;
}
.space-50{
	margin-bottom:50px;
}
/*===  ACCORDION ===*/
.accordionCommon{
	.panel{
		margin-bottom: 30px;
		border: none;
	}
	.panel-heading{
		display: block;
		padding: 15px 20px;
		font-weight: 600;
		color: #ffffff;
		font-size: 14px;
		text-transform: uppercase;
		position: relative;
		background-color: $primary-color;
		span.iconBlock{
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			background-color: #ffffff;
			color: #000;
			display: inline-block;
			float: right;
			&.iconTransparent{
				background-color: transparent;
				box-shadow: none;
				color: #ffffff;
			}
		}
	}
	span.separator{
		width: 1px;
		height: 100%;
		background-color: rgba(255,255,255, 0.25);
		position: absolute;
		top: 0;
		right: 60px;
	}
	.panel-body{
		padding: 30px;
		background-color: #f8f8f8;
		border-top: none !important;
		p{
			margin-bottom: 35px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

/*===  TABS ===*/
.tabCommon{
	.tab-bottom{
		@include add-border(5px, $border-light, bottom);
		margin-top: -4px;
		margin-bottom: 25px;
	}
	.nav{
		border:none;
		li{
			display: inline-block;
			float: none;
			margin-right: 15px;
			@include tablet {
				margin-right: 25px;
			}
			a{
				padding:0;
				height:  35px;
				font-size: 13px;
    			font-weight: 700;
				color: $secondary-color;
				text-transform: uppercase;
				display: inline-block;
				background-color:transparent;
				@include border-radius(0);
				@include tablet {
					height:  40px;
					font-size: 16px;
				}
			}
		}
	}
	.nav-tabs>li.active>a, 
	.nav-tabs>li.active>a:focus, 
	.nav-tabs>li.active>a:hover{
	    background-color:transparent;
			color: $secondary-color;
	    border: none;
	    @include add-border(5px, $primary-color, bottom);
	}
	.nav-tabs>li>a,
	.nav-tabs>li>a:hover,
	.nav-tabs>li>a:focus {
	    border: none;
	}
}
.tabCommon.tab-style2 .nav li {
  margin-right: 0;
  margin-left: 15px;
	@include tablet {
		margin-right: 0;
		margin-left: 25px;
	}
}
.tab-style3 .nav-tabs>li.active>a, 
.tab-style3	.nav-tabs>li.active>a:focus, 
.tab-style3	.nav-tabs>li.active>a:hover{
	background-color:$primary-color;
	color: $white-color;
	border: none;
}
.tabCommon.tab-style3 .nav li {
  margin: 0;
  a{
  	padding:5px 7px;
  	margin: 0;
  }
}

/*===  SELECT DROPDOWN ===*/
.dropGeneral .sbHolder, .dropGeneral .sbSelector{
	width: 100% !important;
	height: 50px !important;
}

.dropGeneral .sbHolder{
	background-color: transparent;
	border: 2px solid #dedede;
	margin: 0 0 30px 0;
	border-radius: 0;
}
.dropGeneral.border-color .sbHolder{
	border-color: $primary-color;
}
.dropGeneral.grayBg .sbHolder{
	background-color: #f8f8f8;
	border-color: #f8f8f8;
}
.dropGeneral.colorBg .sbHolder{
	background-color: $primary-color;
	border-color: $primary-color;
}
.dropGeneral.border-color .sbHolder{
	border-color: $primary-color;
}
.dropGeneral.roundOne .sbHolder{
	border-radius: 7px;
}
.dropGeneral.roundTwo .sbHolder{
	border-radius: 25px;
}
.dropGeneral.roundThree .sbHolder{
	border-radius: 3px;
}

.dropGeneral .sbSelector:link, 
.dropGeneral .sbSelector:visited, 
.dropGeneral .sbSelector:hover{
	color: #000 !important;
	text-transform: capitalize;
}
.dropGeneral.colorBg .sbSelector:link, 
.dropGeneral.colorBg .sbSelector:visited, 
.dropGeneral.colorBg .sbSelector:hover{
	color: #ffffff !important;
	text-transform: capitalize;
}
.dropGeneral .sbSelector{
	font-family: 'Open Sans', sans-serif;
	color: #666666;
	font-weight: 600;
	font-size: 14px;
	line-height: 48px;
	text-indent: 20px;
}
.dropGeneral.colorBg .sbSelector{
	color: #ffffff;
}
.dropGeneral .sbToggle {
	background: rgba(0, 0, 0, 0) url("../img/arrows/drop-down-arrow.jpg") no-repeat scroll 0 0;
	height: 6px;
	right: 20px;
	top: 21px;
	width: 11px;
}
.dropGeneral.colorBg .sbToggle{
	background: rgba(0, 0, 0, 0) url("../img/arrows/down-arrow-white.png") no-repeat scroll 0 0;
}
.dropGeneral.grayBg .sbToggle{
	background: rgba(0, 0, 0, 0) url("../img/arrows/down-arrow-gray.png") no-repeat scroll 0 0;
}

.dropGeneral .sbOptions{
	width: 100% !important;
	background-color: #ffffff;
	border: 1px solid #dedede;
	right: 0 !important;
	border-radius: 4px;
	z-index: 100;
}
.dropGeneral .sbOptions li{
	padding: 4px;
	border-bottom: 1px solid #dedede;
}
.dropGeneral .sbOptions li:last-child{
	border-bottom: none;
}
.dropGeneral .sbOptions a{
	color: #969696 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 11px 17px;
	text-transform: capitalize;
}
.dropGeneral .sbOptions a:hover{
    color: $primary-color !important;
    background-color: transparent;
}
.dropGeneral.addCircle .sbHolder{
	border-radius: 25px;
}
/*===  ALERT ===*/
.alert-link{
	text-decoration:underline !important;
}

/*===  PAGINATION ===*/
.pagination{
	@include mobile{
		margin: 0 0 50px 0;
	}
	@include tablet{
		margin: 0;
	}
	li{
		a{
			float: none;
			border-radius: 0;
			padding: 0;
			@include add-border(3px, $light-color, all);
			display: inline-block;
			font-size: 18px;
			color: $secondary-color;
			font-weight: 700;
			@include transition(all 0.3s ease-in-out);
			margin: 0 3px;
			text-align: center !important;
			@include mobile-xs{
				width: 35px;
				height: 35px;
				line-height: 30px;
			}
			@include mobile{
				width: 45px;
				height: 45px;
				line-height: 40px;
			}
			span{
				font-size: 24px;
				@include mobile-xs{
					line-height: 20px;
				}
				@include mobile{
					line-height: 30px;
				}
			}
			&:hover{
				color: $white-color;
				background-color: $primary-color;
				border-color: $primary-color;
			}
		}
	}
	li.active{
		a, a:hover, a:focus{
			color: $white-color;
			background-color: $primary-color;
			border-color: $primary-color;
		}
	}
}
/*===  BUTTON ===*/
.btn {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border-radius: 0;
  padding: 9px 10px;
}

.btn span {
  margin-left: 10px;
  margin-right: 10px;
}

.btn:hover {
  background: transparent;
}

.btn:focus {
  background: transparent;
}

.btn-xl {
  font-size: 20px;
  padding: 9px 10px;
}

.btn-lg {
  font-size: 15px;
  padding: 10px 12px;
}

.btn-sm {
  font-size: 12px;
  padding: 7px 6px;
}

.btn-xs {
  font-size: 10px;
  padding: 5px 8px;
}

.btn-rounded {
  border-radius: 5px !important;
}

.btn-pill {
  border-radius: 50px !important;
}

.btn-circle {
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  padding: 3px !Important;
}

.btn-square {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  padding: 3px !Important;
}

.btn-link {
  color: #9875ab;
}

.btn-link:hover {
  color: #7c618a;
  text-decoration: none;
}

.btn-link:focus {
  color: #7c618a;
  text-decoration: none;
}

/* Default Button */
.btn-default, .btn-default:active, .btn-default:focus {
  color: #777777;
  border: 2px solid #777777;
  background: transparent;
}

.btn-default:hover {
  color: white;
  background: #777777;
  border: 2px solid #777777;
}

.btn-default-filled, .btn-default-filled:active, .btn-default-filled:focus {
  color: white;
  background: #777777;
  border: 2px solid #777777;
}

.btn-default-filled:hover {
  color: white;
  background: #555555;
  border: 2px solid #555555;
}

/* Primary Button */
.btn-primary, .btn-primary:active, .btn-primary:focus {
  color: $primary-color;
  border: 2px solid $primary-color;
  background: transparent;
}

.btn-primary:hover {
  color: white;
  background: $primary-color;
  border: 2px solid $primary-color;
}

.btn-primary-filled, .btn-primary-filled:active, .btn-primary-filled:focus {
  color: white;
  background: $primary-color;
  border: 2px solid $primary-color;
}

.btn-primary-filled:hover {
  color: white;
  background: $primary-color;
  border: 2px solid $primary-color;
}

/* Success Button */
.btn-success, .btn-success:active, .btn-success:focus {
  color: #87c056;
  border: 2px solid #87c056;
  background: transparent;
}

.btn-success:hover {
  color: white;
  background: #87c056;
  border: 2px solid #87c056;
}

.btn-success-filled, .btn-success-filled:active, .btn-success-filled:focus {
  color: white;
  background: #87c056;
  border: 2px solid #87c056;
}

.btn-success-filled:hover {
  color: white;
  background: #74a44a;
  border: 2px solid #74a44a;
}

/* Info Button */
.btn-info, .btn-info:active, .btn-info:focus {
  color: #4da5e2;
  border: 2px solid #4da5e2;
  background: transparent;
}

.btn-info:hover {
  color: white;
  background: #4da5e2;
  border: 2px solid #4da5e2;
}

.btn-info-filled, .btn-info-filled:active, .btn-info-filled:focus {
  color: white;
  background: #4da5e2;
  border: 2px solid #4da5e2;
}

.btn-info-filled:hover {
  color: white;
  background: #428fc4;
  border: 2px solid #428fc4;
}

/* Warning Button */
.btn-warning, .btn-warning:active, .btn-warning:focus {
  color: #ffcc66;
  border: 2px solid #ffcc66;
  background: transparent;
}

.btn-warning:hover {
  color: white;
  background: #ffcc66;
  border: 2px solid #ffcc66;
}

.btn-warning-filled, .btn-warning-filled:active, .btn-warning-filled:focus {
  color: white;
  background: #ffcc66;
  border: 2px solid #ffcc66;
}

.btn-warning-filled:hover {
  color: white;
  background: #e1b459;
  border: 2px solid #e1b459;
}

/* Danger Button */
.btn-danger, .btn-danger:active, .btn-danger:focus {
  color: #ec7160;
  border: 2px solid #ec7160;
  background: transparent;
}

.btn-danger:hover {
  color: white;
  background: #ec7160;
  border: 2px solid #ec7160;
}

.btn-danger-filled, .btn-danger-filled:active, .btn-danger-filled:focus {
  color: white;
  background: #ec7160;
  border: 2px solid #ec7160;
}

.btn-danger-filled:hover {
  color: white;
  background: #cd6254;
  border: 2px solid #cd6254;
}

/* Social Buttons */
.btn-social {
  font-size: 13px;
  padding: 8px 15px;
  letter-spacing: 0.5px;
  vertical-align: middle;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn-social span {
  margin-left: 10px;
}

/* Facebook Button */
.btn-facebook, .btn-facebook:active, .btn-facebook:focus {
  color: #4e68a1;
  background: transparent;
  border: 2px solid #4e68a1;
}

.btn-facebook:hover {
  color: white !important;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}

.btn-facebook-filled, .btn-facebook-filled:active, .btn-facebook-filled:focus {
  color: white;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}

.btn-facebook-filled:hover {
  color: white;
  background: #3b4f7a;
  border: 2px solid #3b4f7a;
}

.btn-facebook-link, .btn-facebook-link:active, .btn-facebook-link:focus {
  color: #4e68a1;
  background: transparent;
  border: none;
}

.btn-facebook-link:hover {
  color: #3b4f7a;
}

/* Twitter Button */
.btn-twitter, .btn-twitter:active, .btn-twitter:focus {
  color: #65b5f2;
  background: transparent;
  border: 2px solid #65b5f2;
}

.btn-twitter:hover {
  color: white;
  background: #65b5f2;
  border: 2px solid #65b5f2;
}

.btn-twitter-filled, .btn-twitter-filled:active, .btn-twitter-filled:focus {
  color: white;
  background: #65b5f2;
  border: 2px solid #65b5f2;
}

.btn-twitter-filled:hover {
  color: white;
  background: #5294c6;
  border: 2px solid #5294c6;
}

.btn-twitter-filled:hover {
  color: white;
  background: #5294c6;
  border: 2px solid #5294c6;
}

.btn-twitter-link, .btn-twitter-link:active, .btn-twitter-link:focus {
  color: #65b5f2;
  background: transparent;
  border: none;
}

.btn-twitter-link:hover {
  color: #5294c6;
}

/* Google Button */
.btn-google, .btn-google:active, .btn-google:focus {
  color: #e05d4b;
  background: transparent;
  border: 2px solid #e05d4b;
}

.btn-google:hover {
  color: white;
  background: #e05d4b;
  border: 2px solid #e05d4b;
}

.btn-google-filled, .btn-google-filled:active, .btn-google-filled:focus {
  color: white;
  background: #e05d4b;
  border: 2px solid #e05d4b;
}

.btn-google-filled:hover {
  color: white;
  background: #b94c3d;
  border: 2px solid #b94c3d;
}

.btn-google-link, .btn-google-link:active, .btn-google-link:focus {
  color: #e05d4b;
  background: transparent;
  border: none;
}

.btn-google-link:hover {
  color: #b94c3d;
}

/* Linkedin Button */
.btn-linkedin, .btn-linkedin:active, .btn-linkedin:focus {
  color: #2083bc;
  background: transparent;
  border: 2px solid #2083bc;
}

.btn-linkedin:hover {
  color: white;
  background: #2083bc;
  border: 2px solid #2083bc;
}

.btn-linkedin-filled, .btn-linkedin-filled:active, .btn-linkedin-filled:focus {
  color: white;
  background: #2083bc;
  border: 2px solid #2083bc;
}

.btn-linkedin-filled:hover {
  color: white;
  background: #186592;
  border: 2px solid #186592;
}

.btn-linkedin-link, .btn-linkedin-link:active, .btn-linkedin-link:focus {
  color: #2083bc;
  background: transparent;
  border: none;
}

.btn-linkedin-link:hover {
  color: #186592;
}

/* Pinterest Button */
.btn-pinterest, .btn-pinterest:active, .btn-pinterest:focus {
  color: #d2373b;
  background: transparent;
  border: 2px solid #d2373b;
}

.btn-pinterest:hover {
  color: white;
  background: #d2373b;
  border: 2px solid #d2373b;
}

.btn-pinterest-filled, .btn-pinterest-filled:active, .btn-pinterest-filled:focus {
  color: white;
  background: #d2373b;
  border: 2px solid #d2373b;
}

.btn-pinterest-filled:hover {
  color: white;
  background: #ad2c2f;
  border: 2px solid #ad2c2f;
}

.btn-pinterest-link, .btn-pinterest-link:active, .btn-pinterest-link:focus {
  color: #d2373b;
  background: transparent;
  border: none;
}

.btn-pinterest-link:hover {
  color: #ad2c2f;
}

/* Dribbble Button */
.btn-dribbble, .btn-dribbble:active, .btn-dribbble:focus {
  color: #ec5f94;
  background: transparent;
  border: 2px solid #ec5f94;
}

.btn-dribbble:hover {
  color: white;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

.btn-dribbble-filled, .btn-dribbble-filled:active, .btn-dribbble-filled:focus {
  color: white;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

.btn-dribbble-filled:hover {
  color: white;
  background: #b4446e;
  border: 2px solid #b4446e;
}

.btn-dribbble-link, .btn-dribbble-link:active, .btn-dribbble-link:focus {
  color: #ec5f94;
  background: transparent;
  border: none;
}

.btn-dribbble-link:hover {
  color: #b4446e;
}
#buttons .btn {
    margin: 5px 9px;
    text-transform: capitalize;
}
#buttons .btn-social {
    margin: 5px 9px;
}
.space-bottom{
	margin-bottom:20px;
}

/*===  TYPOGRAPHY ===*/

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 20px;
}
p.Lead{
	font-size:15px;
}
p.text-sm{
	font-size:12px;
}
p.text-xs{
	font-size:11px;
}
.page-header h3{
	margin-bottom:0;
}
.text-default {
  color: #777777;
}

.text-primary {
  color: #9875ab;
}

.text-success {
  color: #87c056;
}

.text-info {
  color: #4da5e2;
}

.text-warning {
  color: #ffcc66;
}

.text-danger {
  color: #ec7160;
}
.bg-default {
  color: white;
  background: #777777;
  padding: 3px 4px;
}

.bg-primary {
  color: white;
  background: #9875ab;
  padding: 3px 4px;
}

.bg-success {
  color: white;
  background: #87c056;
  padding: 3px 4px;
}

.bg-info {
  color: white;
  background: #4da5e2;
  padding: 3px 4px;
}

.bg-warning {
  color: white;
  background: #ffcc66;
  padding: 3px 4px;
}

.bg-danger {
  color: white;
  background: #ec7160;
  padding: 3px 4px;
}
.color-text p{
	font-size:16px;
	line-height:32px;
}
blockquote {
  border-left: 5px solid #ebebeb;
}

blockquote p {
  font-size: 15px;
  line-height: 22px;
}

cite {
  color: #cccccc;
  font-size: 14px;
}

.label {
  font-weight: 400;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.label-pill {
  border-radius: 4px;
}

.label-default {
  color: #777777;
  background-color: transparent;
  border: 2px solid #777777;
}

.label-default-filled {
  color: white;
  background-color: #777777;
  border: 2px solid #777777;
}

.label-primary {
  color: $primary-color;
  background-color: transparent;
  border: 2px solid $primary-color;
}

.label-primary-filled {
  color: white;
  background-color: $primary-color;
  border: 2px solid $primary-color;
}

.label-success {
  color: #87c056;
  background-color: transparent;
  border: 2px solid #87c056;
}

.label-success-filled {
  color: white;
  background-color: #87c056;
  border: 2px solid #87c056;
}

.label-info {
  color: #4da5e2;
  background-color: transparent;
  border: 2px solid #4da5e2;
}

.label-info-filled {
  color: white;
  background-color: #4da5e2;
  border: 2px solid #4da5e2;
}

.label-warning {
  color: #ffcc66;
  background-color: transparent;
  border: 2px solid #ffcc66;
}

.label-warning-filled {
  color: white;
  background-color: #ffcc66;
  border: 2px solid #ffcc66;
}

.label-danger {
  color: #ec7160;
  background-color: transparent;
  border: 2px solid #ec7160;
}

.label-danger-filled {
  color: white;
  background-color: #ec7160;
  border: 2px solid #ec7160;
}

.badge-link{
	color: #000;
	display:inline-block;
	padding-right:15px;
	&:hover, &:focus{
		color: $primary-color;
	}
}
.badge {
  color: $white-color;
  background-color: $primary-color;
  font-size: 10px;
  font-weight: 400;
  border-radius: 10px;
  padding: 3px 7px;
}

.active .badge {
  color: $primary-color !important;
}
.nav-pills li {
  margin-right: 15px;
  display: inline-block;
}

.nav.nav-pills a{
  color: #000;
}
.nav.nav-pills a:hover,
.nav.nav-pills a:focus,
.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
  color: $white-color;
  background-color: $primary-color;
}
.progress-bar-default {
    background-color: #777777;
}
.progress-bar-primary {
    background-color: $primary-color;
}
.progress-bar-info {
    background-color: #9875ab;
}

/* FORM */
.form-group input {
  font: normal normal normal 14px/1 FontAwesome, "Lato", sans-serif;
}

.input-group input {
  font: normal normal normal 14px/1 FontAwesome, "Lato", sans-serif;
}

/* Contact Forms */
#contactForm .form-control {
  border-radius: 0;
  background-color: #f0f0f0;
  border: none;
  height: 50px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 10px 20px;
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#contactForm textarea {
  max-width: 100%;
  min-height: 130px !important;
  max-height: 211px;
  margin-bottom: 30px;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.5);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.5);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.5);
}

.has-error .form-control {
  color: #ec7160 !important;
  border: 1px solid #ec7160 !important;
}

.help-block.with-errors li {
  color: #ec7160;
  font-size: 13px;
  margin-top: -30px;
  margin-bottom: 0;
}

#msgSubmit.h3 {
  font-size: 14px;
  margin-top: 5px;
}

/* Contact Form 1 */
#contact-form-1 .form-group {
  margin-bottom: 0;
}

#contact-form-1 #contactForm {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#contact-form-1 .btn-form-submit {
  width: 100%;
  border-radius: 0;
  padding: 14px 24px;
}

/* / End Contact Form 1 */
/* Contact Form 2 */
.contact-form-2 {
  margin-bottom: 50px;
}

#contactForm.contact-form-2 .form-control#name {
  width: 70%;
}

#contactForm.contact-form-2 .form-control#email {
  width: 70%;
}

#contactForm.contact-form-2 .form-control#subject {
  width: 70%;
}

#contact-form-2 .form-group {
  margin-bottom: 0;
}

#contact-form-2 #contactForm {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#contact-form-2 .btn-form-submit {
  width: 30%;
  border-radius: 0;
  padding: 14px 24px;
}

/* Login / Register Forms */
#login-form {
  width: 100%;
  background-color: white;
  padding: 35px;
  border:1px solid $border-light;
}

#login-form .form-control {
  border-radius: 0;
  background-color: #f0f0f0;
  border: none;
  height: 50px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  padding: 10px 20px;
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#login-form .form-group {
  margin-bottom: 0;
}

#login-form .btn-log {
  border-radius: 0;
  margin-bottom: 30px;
  padding-left: 17px;
  padding-right: 17px;
}

#register-form {
  width: 100%;
  background: white;
  border:1px solid $border-light;
  padding: 35px;
}

#register-form .form-control {
  border-radius: 0;
  background-color: #f0f0f0;
  border: none;
  height: 50px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  padding: 10px 20px;
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#register-form .form-group {
  margin-bottom: 0;
}

#register-form .btn-log {
  border-radius: 0;
  margin-bottom: 30px;
  padding-left: 17px;
  padding-right: 17px;
}

.log-title {
  font-size: 24px;
  margin: 0 0 35px 0;
}

.log-line {
  padding: 0 0 35px 0;
  margin-bottom: 35px;
}

.log-line .checkbox {
  margin-left: 10px;
}

.log-line .checkbox-primary label,
.log-line .checkbox-primary a {
  color: #777777;
}

.forgot-password {
  font-size: 16px;
}
.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
    margin-left: -9px;
}
.panel-body .checkbox input[type=checkbox],
.panel-body .checkbox-inline input[type=checkbox], 
.panel-body .radio input[type=radio], 
.panel-body .radio-inline input[type=radio],
.modal-body .checkbox input[type=checkbox], 
.modal-body .checkbox-inline input[type=checkbox], 
.modal-body .radio input[type=radio], 
.modal-body .radio-inline input[type=radio] {
    margin-left: -21px;
}
.margin-right {
    margin-right: 15px;
}
#forms .signUp{
	padding:0;
}

/* / End Login / Register Forms */
/* Newsletter Forms */
#newsletter .form-control {
  color: #777777;
  background: #f0f0f0;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid #ebebeb;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 10px 20px;
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
}

#newsletter .input-group {
  width: 100%;
}

#newsletter .input-group-btn {
  vertical-align: top;
}

.btn-newsletter {
  padding: 14px 24px;
  margin-left: 20px !important;
  border-radius: 0;
  z-index: 2;
}

#newsletter .btn-newsletter.inside {
  margin-left: 0 !important;
}

#newsletter .btn-left.btn-newsletter.inside {
  margin-left: -108px !important;
  z-index: 999;
}

.list-group-item {
  color: #777777;
  background-color: white;
  font-size: 14px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}

.list-group-item p {
  font-size: 14px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
}

a.list-group-item:hover {
  color: $primary-color;
}

a.list-group-item, button.list-group-item {
  color: #777777;
}

.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
  color: white;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  color: #222222;
  margin-bottom: 10px;
}

/* Panels */
.panel-default {
  border-color: $border-light;
}

.panel-default > .panel-heading {
  color: white;
  background-color: #777777;
}

.panel-success {
  border-color: #74a44a;
}

.panel-success > .panel-heading {
  color: white;
  background-color: #87c056;
  border-color: #74a44a;
}

.panel-primary {
  border-color: $primary-color;
}

.panel-primary > .panel-heading {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
}

.panel-info {
  border-color: #428fc4;
}

.panel-info > .panel-heading {
  color: white;
  background-color: #4da5e2;
  border-color: #428fc4;
}

.panel-warning {
  border-color: #e1b459;
}

.panel-warning > .panel-heading {
  color: white;
  background-color: #ffcc66;
  border-color: #e1b459;
}

.panel-danger {
  border-color: #cd6254;
}

.panel-danger > .panel-heading {
  color: white;
  background-color: #ec7160;
  border-color: #cd6254;
}

/* Well */
.well {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid $border-light;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
}

.rounded-well {
  border-radius: 5px;
}

/* Jumbotron */
.jumbotron {
  background: #f0f0f0;
  border: 1px solid $border-light;
  border-radius: 0 !important;
}

.rounded-jumbotron {
  border-radius: 5px !important;
}

.jumbotron h1 {
  color: $primary-color;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 32px;
}

.jumbotron p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 20px;
}
#tooltip .btn{
	margin:0 auto 30px;
	display:block;
	@include tablet{
		display: inline-block;
		margin:0 15px 30px;
	}
}